#navbar {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 2px solid darkgray;
}

#navbar .navbar-link, #navbar #navbar-name {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    font-size: 200%;
    color: #6b6b6b;
}

#navbar .navbar-link {
    background-color: inherit;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#navbar .navbar-link:hover {
    background-color: #828283;
    color: white;
}